@import 'foundations/variables';

/* Common */

button{
    outline: none;
}

/* Normal button */

.btn{
    background-color: $accent-color;
    color: $primary-color;
    padding: $spacing-unit;
}

/* Client button */

.btn--client{
    background-color: $white-color;
}

/* Feature button */

.btn--feature{
    background-color: $white-color;
    color: $primary-color;
}
.btn__icon--feature{
    color: $accent-light-color;
}

/* Cancel button */

.button--cancel{
    background-color: $light-color;
    opacity: 80%;
}