@import 'foundations/variables';

.features{
    background-color: $primary-color;
    color: $light-color;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:    'title buttons'
                            'subtitle buttons'
                            'image buttons';
    gap: $spacing-unit;

    position: relative;

    justify-content: center;
    align-content: start;
}

.features > h1{
    grid-area: title;
}

.features > h3{
    grid-area: subtitle;
    font-weight: 400;
}

.features__image{
    grid-area: image;
    object-fit: contain;

    position: absolute;
    left: -30%;
    width: 155%;

    z-index: 2;
}

.features__buttons{
    grid-area: buttons;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    z-index: 2;
}

.features__inner{
    background-color: $secondary-color;

    position: absolute;
    height: 80px;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Feature item */

.feature__item{
    color: $primary-color;
    display: grid;
    grid-template-columns: .4fr 1fr;
    grid-template-rows: auto 1fr;
    gap: $spacing-unit;
    padding: $spacing-unit*4;

    min-height: 300px;
}

.feature__item__title{
    grid-column: span 2;
}

.feature__item__image{
    border-radius: $card-border-radius;
    box-shadow: $box-shadow;
}

.feature__item__content{
    display: flex;
    flex-flow: column;
    justify-content: space-around;

    padding-left: $spacing-unit*4;
}

.feature__item__content > h2{
    font-weight: 500;
}
.feature__item__content > p{
    font-size: 1.5rem;
    font-weight: 400;
}