@import 'foundations/variables';

/* Server Status */

.intranet-background{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../assets/images/csgo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    opacity: 0.2;

    z-index: -5;
}

.server-status{
    box-shadow: $box-shadow;
    color: $light-color;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin: $spacing-unit;
    padding: $spacing-unit $spacing-unit*3;

    width: 230px;
    height: 90px;
}

.status--active{
    background-color: $accent-light-color;
}

.status--inactive{
    background-color: $inactive-color;
}

/* Info */

.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing-unit;
    justify-items: center;

    margin: $spacing-unit;
    padding: $spacing-unit;

    max-width: $content-width;
    margin: 0 auto;
}

.info__item,
.info__item--graph{
    background-color: $light-color;
    box-shadow: $box-shadow;
    padding: $spacing-unit;
    margin: $spacing-unit;
    color: $primary-color;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 90px;
}

.info__item--graph{
    grid-column: span 2;
    height: auto;
    min-height: 90px;
}

.info__item--graph > canvas{
    width: 100%;
    height: 100%;
}

/* Toolbar */

.toolbar__limit{
    background-color: $primary-color;
    box-shadow: $box-shadow;
    margin: $spacing-unit 0;
}

.toolbar{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-unit $spacing-unit*3;
    
    margin: 0 auto;

    height: 60px;
    max-width: $content-width;
}

.toolbar__text{
    color: $light-color;
    font-size: 1.5rem;
    flex-grow: 1;
    margin: 0 $spacing-unit*3;
}

.toolbar__docs{
    font-size: 1.5rem;
}
