@import 'foundations/variables';

// General rules
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
	font-family: 'Montserrat', Arial, sans-serif;
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6{
	font-weight: 600;
}

h1{
	font-size: 2.5rem;
}

h2{
	font-size: 2rem;
}

h3{
	font-size: 1.5rem;
}

/* Images */
img{
	object-fit: cover;
	width: 100%;
}

/* Sections */
section{
	padding: $spacing-unit*4;
}

/* Hypelink */
a{
	text-decoration: none;
	color: $accent-color;
}

a:hover{
	text-decoration: underline;
}

/* GameServers text */
.logo-text{
	font-family: 'Audiowide', Arial, sans-serif;
	text-decoration: none;
	color: $light-color;

	transition: 0.2s color;
}

.logo-text > h1{
	font-weight: lighter;
}

.logo-text:hover{
	color: $accent-color;
	text-decoration: none;
}

/* Body */
body{
	background-color: $light-color;
}

/* Header */
.header{
	background: rgb(5,102,141);
	background: linear-gradient(90deg, rgba(5,102,141,1) 0%, rgba(0,168,150,1) 100%);
	box-shadow: $box-shadow;
	color: $light-color;
	display: flex;
	flex-flow: row;

	padding: $spacing-unit/2 $spacing-unit;

	align-items: center;

	height: $header-height;
	width: 100%;

	position: relative;

	z-index: 10;
}

.header > nav{
	display: flex;
	margin-left: $spacing-unit*3;
	flex-grow: 1;
}

.header > nav > button{
	background: transparent;
	color: $light-color;
	box-shadow: none;
	letter-spacing: 1px;

	transition: .5s color;
}

.header > nav > button:hover{
	text-decoration: underline;
	color: $accent-color;
	transform: none;
	box-shadow: none;
}